<div class="card bg-base-100 mx-16">
  <div class="card-body card-normal">
    <div class="badge badge-outline badge-accent">{{blog.tag}}</div>
    <div>
      <h2 class="card-title">{{blog.title}}</h2>
      <p>{{ellipsis blog.text 600}}</p>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold">{{blog.username}}</span>
      <span class="font-semibold text-right">{{blog.date}}</span>
    </div>
  </div>
</div>