<div class="card bg-base-100 mx-16">
  <div class="card-body card-normal">
    <div class="badge badge-outline badge-accent">{{blog.tag}}</div>
    <div>
      <h2 class="card-title">{{blog.title}}</h2>
      <p>{{ellipsis blog.text 600}}</p>
    </div>
    <div class="flex space-between">
      <p class="font-semibold">{{blog.user}}</p>
      <p class="font-semibold text-right">{{moment blog.time fromNow=""}}</p>
    </div>
  </div>
</div>