<div class="w-full min-h-screen bg-base-200 flex justify-center items-center">
    {{#or (isTruthy currentItem.visible) isPageAuthor}}
    <div class="container mx-auto my-12 p-4">
        <div class="card shadow-lg bg-base-100 h-[75vh]">
            <div class="card-body card-normal pb-24">
                <div class="badge badge-outline badge-accent">{{currentItem.tag}}</div>
                <div>
                    <h2 class="card-title break-words">{{currentItem.title}}</h2>
                    <p class="break-words">{{currentItem.text}}</p>
                </div>
            </div>
        </div>
        <div class="mt-6 flex justify-center align-center">
            <a href="/{{currentUser.details.username}}" class="btn btn-primary">Back to Blogs</a>
        </div>
    </div>
    {{else}}
    {{> no-access}}
    {{/or}}
</div>