<div class="w-full min-h-screen bg-base-200 flex justify-center">
  {{#or (isTruthy currentItem.visible) isPageAuthor}}
  <div class="container mx-auto my-16 p-4">
    <div class="mb-6 flex justify-start align-center">
      <a href="/{{currentUser.details.username}}" class="btn btn-primary">Back to Blogs</a>
    </div>
    <div class="divider"></div>
    <div class="card shadow-lg bg-base-100">
      <div class="card-body card-normal">
        <div class="badge badge-outline badge-accent">{{currentItem.tag}}</div>
          <div>
            <h2 class="card-title break-words">{{currentItem.title}}</h2>
            <p class="break-words">{{currentItem.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
    {{> no-access}}
  {{/or}}
</div>